<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <select [(ngModel)]="param.rango" (change)="cargarContadores()" name="range" id="range" class="form-control col-md-2 pull-left">
                    <option *ngFor="let rang of rangos" [value]="rang.value">{{ rang.displayName }}</option>
                </select>
                <div *ngIf="loading">
                    <br /><br />
                    <div class="alert alert-warning text-center">
                        <strong>Cargando</strong>
                        <br />
                        <i class="fa fa-refresh fa-spin fa-2x"></i>
                        <br />
                        <span>Espere por favor</span>
                    </div>
                </div>
                <div *ngIf="grafica" class="row m-t-40">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-dark text-center">
                                <h1 class="font-light text-white"> {{ grafica.contador.tiempoInvertido | tiempo }} </h1>
                                <h6 class="text-white">{{ grafica.contador.tiempoInvertido | tiempo: 'min' }}</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-success text-center">
                                <h1 class="font-light text-white"> {{ grafica.contador.cerrados }} </h1>
                                <h6 class="text-white">Cerrados</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-info text-center">
                                <h1 class="font-light text-white"> {{ grafica.contador.proceso }} </h1>
                                <h6 class="text-white">En Proceso</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-warning text-center">
                                <h1 class="font-light text-white"> {{ grafica.contador.abiertas }} </h1>
                                <h6 class="text-white">Abiertas</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>

            </div>
        </div>
    </div>
</div>