<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body" id="cuerpo">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"> <a (click)="limpiar()" class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-selected="true"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Empleado</span></a> </li>
                            <li class="nav-item"> <a (click)="limpiar()" class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-desktop"></i></span> <span class="hidden-xs-down">Equipo</span></a> </li>
                        </ul>
                        <div class="tab-content tabcontent-border">
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <h5>Seleccionar Empleado</h5>
                                <div class="input-group">
                                    <ng-select [(ngModel)]="empleado" appendTo="body" name="empleado" class="col-lg-11" [items]="empleados" bindLabel="Nombre">
                                        <ng-template class="col-lg-11" ng-option-tmp let-item="item">
                                            {{item.Nombre}} <small>{{item.NoEmpleado}}</small>
                                        </ng-template>
                                    </ng-select>
                                    <div class="input-group-prepend">
                                        <button class="btn btn-info" (click)="AgregarEmpleado()" name="find" type="button">Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br />
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br />
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="msg && equipos.length === 0 && empleado.Id !== 0">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>No se encontraron resultados</strong>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card card-body">

            <div class="table-responsive m-t-20">
                <table id="myTable" class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th class="tbl-header">Nombre</th>
                            <th class="tbl-header2" colspan="2">Empresa</th>
                            <th class="tbl-header3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let acc of accesos; index as i">
                            <td>{{ acc.User.nombre }}</td>
                            <td>
                                <div class="form-check">
                                    <input #jscheck [checked]="acc.IMA" type="checkbox" (change)="changeact($event, acc, 'IMA')" class="form-check-input" id={{acc.User.noEmpleado}}+IMA>
                                    <label class="form-check-label" for={{acc.User.noEmpleado}}+IMA>IMA</label>
                                </div>

                            </td>
                            <td>
                                <div class="form-check">
                                    <input #jscheck [checked]="acc.EBR" type="checkbox" (change)="changeact($event, acc, 'EBR')" class="form-check-input" id={{acc.User.noEmpleado}}+EBR>
                                    <label class="form-check-label" for={{acc.User.noEmpleado}}+EBR>EBR</label>
                                </div>
                            </td>
                            <td>
                                <button (click)="modificarUser( acc )" class="btn btn-info" ngbTooltip="Guardar">
                                  <i class="fa fa-save"></i>
                                </button>
                            </td>
                            <!--<td>
                                <div>
                                    <input name="retronar" (change)="verBotones()" [(ngModel)]="equi.retornar" [id]="equi.nombre" type="checkbox" class="filled-in chk-col-light-blue" />
                                    <label [for]="equi.nombre">  </label>
                                </div>
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="button-group">
                <button *ngIf="verRetorno" name="retorno" (click)="retornar()" class="btn btn-danger">Retornar</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="verPDFViewer" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 id="visor" name="visor" class="card-title">Responsiva</h4>
                <ngx-extended-pdf-viewer [src]="pdf" backgroundColor="#ffffff" [height]="'90vh'" [useBrowserLocale]="true">
                </ngx-extended-pdf-viewer>
            </div>
        </div>
    </div>
</div>