<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarTipo( input.value )" name="search" type="text" class="form-control" placeholder="Buscar Tipo de Servicio..." />

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">

    <div class="col-sm-12">

        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br />
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br />
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button (click)="crearTipo()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa-plus"></i> 
                        Crear Tipo de Servicio
                    </button>
                </div>

                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Descripción</th>
                            <th>Activo</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let tipo of tipos">
                            <td>
                                {{ tipo.id }}
                            </td>
                            <td>
                                <input [(ngModel)]="tipo.descripcion" name="Descripcion" type="text" class="form-control" placeholder="Descripción" required />
                            </td>
                            <td>
                                <div class="checkbox checkbox-info pull-left p-t-0">
                                    <input [(ngModel)]="tipo.activo" name="actualizarPassword" [id]="tipo.id" type="checkbox" class="filled-in chk-col-light-blue" />
                                    <label [for]="tipo.id">  </label>
                                </div>
                            </td>
                            <td>
                                <button (click)="actualizarTipo( tipo )" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                              </button>
                            </td>
                        </tr>

                    </tbody>

                </table>

                <button (click)="cambiarDesde(-1)" class="btn btn-secondary">
                    Anteriores
                </button>

                <button (click)="cambiarDesde(1)" class="btn btn-secondary">
                    Siguientes
                </button>

            </div>
        </div>
    </div>
</div>