<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="m-t-30 text-center center"> <img [src]="perfil.userId | imagen" alt="user" class="img-circle" width="150" height="150" />
                    <h4 class="card-title m-t-10"> {{ perfil.nombre | titlecase | capitalizar }} </h4>
                    <div class="row text-center justify-content-md-center">
                        <ng-template #t let-fill="fill">
                            <span class="star-usr" [class.full]="fill === 100">
                                <span class="half-usr" [style.width.%]="fill"><i class="fa fa-star"></i></span><i class="fa fa-star"></i>
                            </span>
                        </ng-template>
                        <ngb-rating *ngIf="usuario.rolId === 1" [(rate)]="rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                    </div>
                </div>
            </div>
            <div>
                <hr />
            </div>
            <div class="card-body"> <small class="text-muted">Correo Electrónico </small>
                <h6> {{ perfil.correo }} </h6>
                <small class="text-muted p-t-30 db">Puesto</small>
                <h6>{{ perfil.puesto }}</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">Contraseña</a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="settings" role="tabpanel">
                    <div class="card-body">
                        <form class="form-horizontal form-material" #f="ngForm" ngNativeValidate (ngSubmit)="cambiarClave(f)">
                            <div class="form-group">
                                <label class="col-md-12">Actual</label>
                                <div class="col-md-12">
                                    <input type="password" [(ngModel)]="perfil.clave" name="pswActual" class="form-control form-control-line" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Contraseña</label>
                                <div class="col-md-12">
                                    <input type="password" [(ngModel)]="perfil.claveNueva" name="pswNueva" class="form-control form-control-line" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Vuelve a escribir la nueva contraseña</label>
                                <div class="col-md-12">
                                    <input type="password" [(ngModel)]="confirm" name="pswConf" class="form-control form-control-line" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" name="btnSave" class="btn btn-success">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>