<div class="row animated fadeIn">

    <div class="col-md-12">
        <div class="card card-body">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardar()">
                        <div class="row form-group-sm">
                            <div class="col-lg-8">
                                <label style="margin-bottom: 0px;">Título</label>
                                <input [(ngModel)]="servcat.Nombre" name="titulo" type="text" maxlength="50" class="form-control" placeholder="Título" required />
                            </div>
                            <div class="col-lg-2">
                                <div class="form-check">
                                    <input #jscheck type="checkbox" [checked]="servcat.Estatus" (change)="changeact($event)" class="form-check-input" id="activocheck">
                                    <label class="form-check-label" style="margin-bottom: 0px; margin-top: 10px;" for="activocheck">Activo</label>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <strong>Responsable</strong>
                                <br />
                                <p class="text-muted">
                                    <i class="fa fa-user"></i>
                                    <span class="label label-success" style="    color: #000; background-color: #FFF;"> {{ servcat.usuario.nombre }}</span>
                                </p>
                            </div>


                        </div>

                        <div class="form-group-sm">
                            <label style="margin-bottom: 0px; margin-top: 10px;">Descripción</label>
                            <textarea [(ngModel)]="servcat.Descripcion" class="form-control" placeholder="Descripción" name="descr" id="descr" rows="2"></textarea>
                        </div>
                        <div class="row form-group-sm">
                            <div class="col-lg-6">
                                <label for="dInit" style="margin-bottom: 0px; margin-top: 10px;">Fecha Inicio</label>
                                <div class="input-group">
                                    <input class="form-control" [autoClose]="true" [(ngModel)]="fecha" placeholder="yyyy-mm-dd" name="dInit" ngbDatepicker #dInit="ngbDatepicker" />
                                    <div class="input-group-append">
                                        <span class="btn btn-outline-secondary" (click)="dInit.toggle()">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="dIfin" style="margin-bottom: 0px; margin-top: 10px;">Fecha Vencimiento</label>
                                <div class="input-group">
                                    <input class="form-control" [autoClose]="true" [minDate]="minfecha" [(ngModel)]="fechaFin" placeholder="yyyy-mm-dd" name="dIfin" ngbDatepicker #dIfin="ngbDatepicker" />
                                    <div class="input-group-append">
                                        <span class="btn btn-outline-secondary" (click)="dIfin.toggle()">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group-sm">

                            <div class="col-lg-6">
                                <label style="margin-bottom: 0px; margin-top: 10px;">Recordatorio</label>
                                <select [(ngModel)]="servcat.Recordar" name="frecuencia" placeholder="Seleccionar recordatorio" class="form-control" required>
                                    <option [ngValue]="1">1 dia Antes de fecha vencimiento</option>
                                    <option [ngValue]="2">2 dia Antes de fecha vencimiento</option>
                                    <option [ngValue]="3">3 dia Antes de fecha vencimiento</option>
                                    <option [ngValue]="4">4 dia Antes de fecha vencimiento</option>
                                    <option [ngValue]="5">5 dia Antes de fecha vencimiento</option>
                                    <option [ngValue]="6">6 dia Antes de fecha vencimiento</option>
                                    <option [ngValue]="7">1 Semana Antes de fecha vencimiento</option>
                                    <option [ngValue]="14">2 Semana Antes de fecha vencimiento</option>
                                    <option [ngValue]="21">3 Semana Antes de fecha vencimiento</option>
                                    <option [ngValue]="30">1 Mes Antes de fecha vencimiento</option>
                                    <option [ngValue]="60">2 Mes Antes de fecha vencimiento</option>
                                    <option [ngValue]="90">3 Mes Antes de fecha vencimiento</option>
                                </select>
                            </div>

                        </div>

                        <div class="row form-group-sm" style='border-color: #F4F6F9; border-style: solid; border-radius: 25px; border-width: 1px; margin-top: 50px; padding-top: 10px; padding-bottom: 15px;'>
                            <div style="position: absolute; margin-top: -25px; margin-left: 10px; background: #F4F6F9; border-radius: 10px; padding: 2px 10px;">
                                Proveedor
                            </div>
                            <div class="col-lg-6">
                                <label style="margin-bottom: 0px; margin-top: 10px;" for="NombreProveedor">Nombre</label>
                                <input [(ngModel)]="servcat.NombreProveedor" name="NombreProveedor" type="text" maxlength="100" class="form-control" placeholder="Nombre" required />
                            </div>
                            <div class="col-lg-6">
                                <label style="margin-bottom: 0px; margin-top: 10px;" for="cuentaProveedor">No. Cuenta | No. Cliente</label>
                                <input [(ngModel)]="servcat.CuentaProve" name="cuentaProveedor" type="text" maxlength="50" class="form-control" placeholder="Cuenta" required />
                            </div>

                            <div class="col-lg-6">
                                <label style="margin-bottom: 0px; margin-top: 10px;" for="correoProveedor">Correo Electronico</label>
                                <input [(ngModel)]="servcat.CorreoProve" name="correoProveedor" type="text" maxlength="50" class="form-control" placeholder="Correo" required />
                            </div>
                            <div class="col-lg-6">
                                <label style="margin-bottom: 0px; margin-top: 10px;" for="telefonoProveedor">Telefono</label>
                                <input [(ngModel)]="servcat.TelefonoProve" name="telefonoProveedor" type="tel" maxlength="15" numeric class="form-control" placeholder="telefono" required />
                            </div>
                            <div class="col-lg-6">
                                <label style="margin-bottom: 0px; margin-top: 10px;" for="aasesorProveedor">Asesor</label>
                                <input [(ngModel)]="servcat.Asesor" name="aasesorProveedor" type="text" maxlength="100" class="form-control" placeholder="Asesor" required />
                            </div>
                            <div class="col-lg-6">
                                <label style="margin-bottom: 0px; margin-top: 10px;" for="webProveedor">Sitio Web</label>
                                <input [(ngModel)]="servcat.WebProve" name="webProveedor" type="text" maxlength="50" class="form-control" placeholder="website" required />
                            </div>
                            <div class="col-lg-12">
                                <label style="margin-bottom: 0px; margin-top: 10px;" for="AdicionalesProveedor">Adicionales</label>
                                <textarea [(ngModel)]="servcat.Adicionales" name="AdicionalesProveedor" type="text" maxlength="400" rows="5" class="form-control" placeholder="Adicionales"></textarea>
                            </div>
                        </div>
                        <br>
                        <ul class="tags">
                            <li *ngFor="let arc of servcat.archivos">
                                <span (click)="open(content, arc)" class="tag pointer"> {{ arc.ArchNombre }} </span>
                            </li>
                        </ul>
                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Imagen Adjunta</h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <div class="" style="width: 100%">
                                    <img style="width: 100%" [src]="selId | servicioimagen: true" alt="file" class="profile-pic" />
                                </div>
                            </div>
                        </ng-template>
                        <div class="form-group">
                            <label for="prioridad">Archivos</label>
                            <ngx-file-drop dropZoneLabel="Drop files here" multiple="true" (onFileDrop)="dropped($event)">
                                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                    Arrastra el archivo en esta área o &nbsp;
                                    <button type="button" (click)="openFileSelector()">Seleccionar Archivo.</button>
                                </ng-template>
                            </ngx-file-drop>
                        </div>
                        <div *ngIf="servcat.archivos?.length > 0" class="upload-table">
                            <table *ngIf="!cargando" class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th>Archivos Seleccionados</th>
                                        <th>Peso</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="upload-name-style">
                                    <tr *ngFor="let item of servcat.archivos; let i=index">
                                        <td><strong>{{ item.ArchNombre }}</strong></td>
                                        <td><strong>{{ item.peso }}</strong></td>
                                        <td>
                                            <button class="btn btn-sm btn-danger" (click)="borrar( i, item )">
                                                <i class="fa fa-eraser"></i> Borrar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <br>
                        <div class="row form-group-sm">
                            <button id="botonG" type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                                <i class="fa fa-save"></i> Guardar
                            </button>
                            <a routerLink="/servicioc" class="btn btn-info waves-effect waves-light m-r-10">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>