<div class="ribbon-wrapper card">
    <div *ngIf="servicio.TipoServicio.descripcion === 'Soporte'" class="ribbon ribbon-default ribbon-right"> {{ servicio.FecCompromiso | fecha }} </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 col-xs-6 b-r"> <strong class="text-muted">Título</strong>
                <br />
                <strong># {{ servicio.Id }} {{ servicio.Titulo }}</strong>
            </div>
            <div class="col-md-3 col-xs-6 b-r"> <strong>Responsable</strong>
                <br />
                <p class="text-muted">
                    <i class="fa fa-user"></i>
                    <span *ngIf="servicio.AsignadoA.id !== 0" class="label label-success"> {{ servicio.AsignadoA?.nombre }}</span>
                    <span *ngIf="servicio.AsignadoA.id === 0" class="label label-warning"> Sin Responsable</span>
                </p>
            </div>
            <div class="col-md-3 col-xs-6 b-r"> <span class="label" [ngClass]="( servicio.Estado == 'Abierta' ) ? 'label-warning' :
                ( servicio.Estado == 'Cerrada' ) ? 'label-success' : 'label-info'"> {{ servicio.Estado }}</span>
                <br />
                <span class="label" [ngClass]="( servicio.Urgencia.Nombre == 'Urgente' || servicio.Urgencia.Nombre == 'Alto' ) ? 'label-warning' : 'label-info'">{{ servicio.Urgencia?.Nombre }}</span>
            </div>
            <div class="col-md-3 col-xs-6"> <strong>{{ servicio.tiempoTotal | tiempo: 'comp' }}</strong>
                <br />
                <strong>{{ servicio.TiempoTranscurrido }}</strong>
            </div>
        </div>
        <hr />
        <p class="m-t-30">{{ servicio.Descripcion }}</p>
        <div *ngIf="servicio.archivos.length > 0" class="archivos">
            <h4 class="font-medium m-t-30">Archivos</h4>
            <hr />
            <ul class="tags">
                <li *ngFor="let arc of servicio.archivos">
                    <span (click)="open(content, arc)" class="tag pointer"> {{ arc.nombre }} </span>
                </li>
            </ul>
        </div>

        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Imagen Adjunta</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="" style="width: 100%">
                    <img style="width: 100%" [src]="selId | imagen: true" alt="file" class="profile-pic" />
                </div>
            </div>
        </ng-template>

        <hr />
        <!-- <button class="btn btn-danger waves-effect waves-light" name="regresar" (click)="regresar()">Cerrar</button> -->
        <button class="btn btn-info waves-effect waves-light" name="regresar" (click)="regresar()">Regresar</button>
    </div>
</div>

<!-- Avances -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title pull-left"> Historial de Avances </h4>
                <div *ngIf="isAdmin" class="text-right">
                    <button [routerLink]="['/avances', servicio.Id]" type="button" title="Agregar" class="btn btn-circle btn-primary">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Duración</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Comentario</th>
                            <th scope="col">Adjuntos</th>
                            <th scope="col" colspan="2">Responsable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let avance of servicio.avances">
                            <td> {{ avance.Duracion?.Descripcion }} </td>
                            <td> {{ avance.Fecha | date: 'yyyy-MM-dd' }} </td>
                            <td> {{ avance.Comentario }} </td>
                            <td>
                                <ul class="tags">
                                    <li *ngFor="let arc of avance.archivos">
                                        <span (click)="open(content, arc)" class="tag pointer"> {{ arc.nombre }} </span>
                                    </li>
                                </ul>
                            </td>
                            <td style="width:50px;"><span class="round"><img [src]="avance.Responsable.id | imagen" alt="user" width="50" height="50px"></span></td>
                            <td> {{ avance.Responsable?.nombre }} </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>