<div class="row">
    <div class="col-12">

        <!-- General del Ticket -->
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Título</h6>
                <h4 class="card-title"># {{ servicio.Id }} {{ servicio.Titulo }}
                    <span class="label" [ngClass]="( servicio.Estado == 'Abierta' ) ? 'label-warning' :
                    ( servicio.Estado == 'Cerrada' ) ? 'label-success' : 'label-info'"> {{ servicio.Estado }}</span></h4>

                <h6 class="card-subtitle mb-2 text-muted">Descripción</h6>
                <p class="card-text">{{ servicio.Descripcion }}</p>

                <div class="pull-right">
                    <div *ngIf="servicio.AsignadoA.id !== 0">
                        <i class="fa fa-user"></i> <span class="label label-success"> {{ servicio.AsignadoA?.nombre }}</span>
                    </div>
                    <div *ngIf="servicio.AsignadoA.id === 0">
                        <i class="fa fa-user"></i> <span class="label label-warning"> Sin Responsable</span>
                    </div>
                </div>

                <div class="pull-left">
                    <small class="text-muted"><i class="fa fa-clock-o"></i> {{ servicio.TiempoTranscurrido }} </small>
                    <span class="label" [ngClass]="( servicio.Urgencia.Nombre == 'Inmediatamente' || servicio.Urgencia.Nombre == 'Urgente' ) ? 'label-warning' : 'label-info'">{{ servicio.Urgencia?.Nombre }}</span>
                </div>

                <br /><br />
                <div class="pull-left"><button class="btn btn-inverse waves-effect waves-light" name="regresar" (click)="regresar()">Regresar</button></div>
                <div class="pull-right">
                    <h3>Tiempo Invertido: {{ servicio.tiempoTotal | tiempo: 'comp' }} </h3>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- Avances -->
<div class="row">
    <div class="col-sm-12">
        <div class="card card-body">
            <h6 class="card-subtitle"> Historial de Avances </h6>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Duración</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Comentario</th>
                        <th scope="col" colspan="2">Responsable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let avance of servicio.avances">
                        <td> {{ avance.Duracion?.Descripcion }} </td>
                        <td> {{ avance.Fecha | date: 'yyyy-MM-dd' }} </td>
                        <td> {{ avance.Comentario }} </td>
                        <td style="width:50px;"><span class="round"><img [src]="avance.Responsable.id | imagen" alt="user" width="50" height="50px"></span></td>
                        <td> {{ avance.Responsable?.nombre }} </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>