<div class="row" *ngIf="nuevo">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="col-md-12">
                    <div class="card card-body">
                        <h3 class="box-title m-b-0">Ticket</h3>
                        <p class="text-muted m-b-30 font-13"> Crear servicio </p>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">

                                <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarServicio(f)">
                                    <div class="form-group">
                                        <label for="titulo">Título</label>
                                        <input [(ngModel)]="servicio.Titulo" name="Titulo" type="text" class="form-control" placeholder="Título" required />
                                    </div>

                                    <div class="form-group">
                                        <label for="descripcion">Descripción</label>
                                        <textarea name="descripcion" id="descripcion" class="form-control" [(ngModel)]="servicio.Descripcion" rows="4"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="prioridad">Prioridad</label>

                                        <select [(ngModel)]="servicio.Urgencia" name="urgencia" class="form-control" required>
                                            <option disabled="disabled" value="undefined" >Seleccionar Prioridad</option>
                                            <option *ngFor="let prio of prioridades" [ngValue]="prio">{{ prio.Nombre }}</option>
                                        </select>

                                    </div>

                                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
                                    <button type="button" (click)="nuevo = false" class="btn btn-inverse waves-effect waves-light m-r-10">Cancelar</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<app-dashboard *ngIf="!nuevo"></app-dashboard>