<div class="row" *ngIf="nuevo">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="col-md-12">
                    <div class="card card-body">
                        <h3 class="box-title m-b-0">Crear Ticket</h3>
                        <form role="form" class="form-horizontal row" #f="ngForm" ngNativeValidate (ngSubmit)="guardarServicio(f)">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="titulo" class="form-control-label">Título</label>
                                    <input [(ngModel)]="servicio.Titulo" name="Titulo" type="text" maxlength="50" class="form-control form-control-sm" placeholder="Título" required />
                                </div>

                                <div class="form-group">
                                    <label for="descripcion" class="form-control-label">Descripción</label>
                                    <textarea name="descripcion" id="descripcion" class="form-control form-control-sm" [(ngModel)]="servicio.Descripcion" rows="2"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="fecha">Para Cuando</label>
                                    <div class="form-control-label">
                                        <div class="input-group">
                                            <input class="form-control" [minDate]="{year: fecha.year, month: fecha.month, day: fecha.day}" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fecCompr" ngbDatepicker #d="ngbDatepicker" required />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="prioridad">Prioridad</label>
                                    <select [(ngModel)]="servicio.Urgencia.Id" (change)="cambio()" name="urgencia" class="form-control form-control-sm" required>
                                        <option disabled="disabled" value="0" >Seleccionar Prioridad</option>
                                        <option *ngFor="let prio of prioridades" [ngValue]="prio.Id">{{ prio.Nombre }}</option>
                                    </select>
                                    <span class="animated fadeIn text-info" *ngIf="info.length > 0"> <i class="fa fa-info-circle"></i> &nbsp; <strong>{{ info }}</strong></span>
                                </div>

                                <div class="form-group">
                                    <label for="prioridad">Archivos</label>
                                    <ngx-file-drop dropZoneLabel="Drop files here" multiple="true" (onFileDrop)="dropped($event)">
                                        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                            Arrastra el archivo en esta área o &nbsp;
                                            <button type="button" (click)="openFileSelector()">Seleccionar Archivo.</button>
                                        </ng-template>
                                    </ngx-file-drop>
                                </div>
                                <div class="row animated fadeIn" *ngIf="cargando">
                                    <div class="col-sm-12">
                                        <div class="alert alert-warning text-center">
                                            <strong>Cargando</strong>
                                            <br />
                                            <i class="fa fa-refresh fa-spin fa-2x"></i>
                                            <br />
                                            <span>Espere por favor</span>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="servicio.archivos?.length > 0" class="upload-table">
                                    <table *ngIf="!cargando" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Archivos Seleccionados</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="upload-name-style">
                                            <tr *ngFor="let item of servicio.archivos; let i=index">
                                                <td><strong>{{ item.nombre }}</strong></td>
                                                <td>
                                                    <button class="btn btn-sm btn-danger" (click)="borrar( i )">
                                                        <i class="fa fa-eraser"></i> Borrar
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
                                <button type="button" (click)="nuevo = false" class="btn btn-info waves-effect waves-light m-r-10">Cancelar</button>

                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<app-dashboard *ngIf="!nuevo"></app-dashboard>