<div class="row">
    <div class="col-sm-12">
        <div class="card card-body">
            <h4 class="card-title"> # {{ servicio.Id }} {{ servicio.Titulo }} </h4>
            <h6 class="card-subtitle"> {{ servicio.Descripcion }} </h6>
            <form class="form-horizontal m-t-40" #f="ngForm" (ngSubmit)="guardarAvance( )">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Fecha</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="_fecha" maxDate="maxdate" autoClose="true" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Duración</label>
                            <select [(ngModel)]="avance.Duracion" name="Duracion" name="duracion" class="form-control">
                                <option disabled="disabled" value="undefined" >Seleccionar Duracion</option>
                                <option *ngFor="let dura of duracion" [ngValue]="dura">{{ dura.Descripcion }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Comentarios</label>
                    <textarea [(ngModel)]="avance.Comentario" name="Comentario" class="form-control" rows="5"></textarea>
                </div>

                <div class="form-group">
                    <label for="prioridad">Archivos</label>
                    <ngx-file-drop dropZoneLabel="Drop files here" multiple="true" (onFileDrop)="dropped($event)">
                        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                            Arrastra el archivo en esta área o
                            <button type="button" (click)="openFileSelector()">Seleccionar Archivo.</button>
                        </ng-template>
                    </ngx-file-drop>
                </div>
                <div class="row animated fadeIn" *ngIf="cargando">
                    <div class="col-sm-12">
                        <div class="alert alert-warning text-center">
                            <strong>Cargando</strong>
                            <br />
                            <i class="fa fa-refresh fa-spin fa-2x"></i>
                            <br />
                            <span>Espere por favor</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="avance.archivos?.length > 0" class="upload-table">
                    <table *ngIf="!cargando" class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th>Archivos Seleccionados</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="upload-name-style">
                            <tr *ngFor="let item of avance.archivos; let i=index">
                                <td><strong>{{ item.nombre }}</strong></td>
                                <td>
                                    <button class="btn btn-sm btn-danger" (click)="borrar( i )">
                                        <i class="fa fa-eraser"></i> Borrar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                  <i class="fa fa-save"></i> Guardar
                </button>
                <button type="button" name="volver" (click)="regresar()" class="btn btn-info waves-effect waves-light">Cancelar</button>

            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card card-body">
            <h6 class="card-subtitle"> Historial de Avances </h6>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Duración</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Comentario</th>
                        <th scope="col">Responsable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let avance of servicio.avances">
                        <td> {{ avance.Duracion?.Descripcion }} </td>
                        <td> {{ avance.Fecha | date: 'yyyy-MM-dd' }} </td>
                        <td> {{ avance.Comentario }} </td>
                        <td> {{ avance.Responsable?.nombre }} </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>