<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<div>

    <aside class="left-sidebar" style=" background: linear-gradient(to bottom, #566aff, #3fa9f5);">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar" id="imagens" style="background-image:url(../assets/images/background/sidebar-01.png);background-size: 250px 270px;background-position: bottom;background-repeat: no-repeat;">
            <!-- Sidebar navigation-->
            <nav class="sidebar sidebar-nav">
                <ul id="sidebarnav">
                    <li *ngFor="let menu of menu">
                        <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i [class]="menu.icono"></i><span class="hide-menu" > {{ menu.titulo }} </span></a>
                        <div style="height: 15px;"></div>
                        <ul aria-expanded="false" class="collapse ">
                            <ng-container *ngFor="let submenu of menu.submenu">
                                <li *ngIf="submenu.titulo == 'Equipo Asignado' && (acceso.IMA == true || acceso.EBR == true)">
                                    <a *ngIf="!submenu.subsubmenu" routerLinkActive="active" [routerLink]="[ submenu.url ]"> {{ submenu.titulo }} </a>
                                    <a *ngIf="submenu.subsubmenu" class="has-arrow waves-effect waves-dark" aria-expanded="false"><i [class]="submenu.subsubmenu.icono"></i><span class="hide-menu"></span> {{ submenu.titulo }} </a>
                                    <ul *ngIf="submenu.subsubmenu" aria-expanded="false" class="collapse">
                                        <li *ngFor="let submenus of submenu.subsubmenu">
                                            <a routerLinkActive="active" [routerLink]="[ submenus.url ]"> {{ submenus.titulo }} </a>
                                        </li>
                                    </ul>
                                </li>
                                <li *ngIf="submenu.titulo != 'Equipo Asignado'">
                                    <a *ngIf="!submenu.subsubmenu" routerLinkActive="active" [routerLink]="[ submenu.url ]"> {{ submenu.titulo }} </a>
                                    <a *ngIf="submenu.subsubmenu" class="has-arrow waves-effect waves-dark" aria-expanded="false"><i [class]="submenu.subsubmenu.icono"></i><span class="hide-menu"></span> {{ submenu.titulo }} </a>
                                    <ul *ngIf="submenu.subsubmenu" aria-expanded="false" class="collapse">
                                        <li *ngFor="let submenus of submenu.subsubmenu">
                                            <a routerLinkActive="active" [routerLink]="[ submenus.url ]"> {{ submenus.titulo }} </a>
                                        </li>
                                    </ul>
                                </li>
                            </ng-container>
                        </ul>
                    </li>

                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
</div>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->