<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarTiempo( input.value )" type="text" class="form-control" placeholder="Buscar Duración..." />

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">

    <div class="col-sm-12">

        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br />
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br />
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button (click)="crearHospital()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa-plus"></i> 
                        Crear Duración
                    </button>
                </div>

                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Minutos</th>
                            <th>Descripción</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let tiempo of tiempos">
                            <td>
                                <input [(ngModel)]="tiempo.Minutos" name="Minutos" type="number" class="form-control" placeholder="Minutos" />
                            </td>
                            <td>
                                <input [(ngModel)]="tiempo.Descripcion" name="Descripcion" type="text" class="form-control" placeholder="Descripción" />
                            </td>
                            <td>
                                <button (click)="actualizarTiempo( tiempo )" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                              </button>
                            </td>
                        </tr>

                    </tbody>

                </table>

                <button (click)="cambiarDesde(-1)" class="btn btn-secondary">
                    Anteriores
                </button>

                <button (click)="cambiarDesde(1)" class="btn btn-secondary">
                    Siguientes
                </button>

            </div>
        </div>
    </div>
</div>