Detalle de proyectos
<div class="row">

    <div class="col-md-12">
        <div class="card .bg-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-6 pull-right">
                        <h4 class="card-title">Listado de Proyectos</h4>
                    </div>
                    <div class="col-6 pull-left">
                        <button class="btn btn-info pull-right" name="new" tabindex="0" (click)="NuevoP()"><i class="fa fa-plus"></i> Nuevo</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input [(ngModel)]="query" type="text" class="form-control" placeholder="Buscar">
                    </div>

                </div>
                <div style="position: relative; height: 500px; overflow: auto; display: block; ">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class=" tbl-header pointer tbl-header" style="position: sticky;top: 0;" (click)="sort('est')">
                                    Estado
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'est', 'fa-sort-asc': (column == 'est' && isDesc), 'fa-sort-desc': (column == 'est' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th class="tbl-header2" style="position: sticky;top: 0;">Descripcion</th>
                                <th class=" tbl-header3 pointer" style="position: sticky;top: 0;" (click)="sort('avancefecha')">
                                    Fecha
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'avancefecha', 'fa-sort-asc': (column == 'avancefecha' && isDesc), 'fa-sort-desc': (column == 'avancefecha' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th class="tbl-header4" style="position: sticky;top: 0;">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let proy of proyes | orderby: {property: column, direction: direction}| filter: 'est,avancedesc': query">
                                <td style="width: 160px; ">
                                    <select [(ngModel)]="proy.avanceestado " (change)="EditarP(proy, $event.target.value)" name="empr" id="empr" class="form-control form-control-sm " style="width: 140px; ">
                                        <option *ngFor="let est of Estados " [ngValue]="est ">{{ est }}</option>
                                    </select>
                                </td>
                                <td *ngIf="proy.avanceestado=='En Proceso' " style="color: #188AE2; ">{{ proy.avancedesc }}</td>
                                <td *ngIf="proy.avanceestado=='Activo' " style="color:#5B6D89;">{{ proy.avancedesc }}</td>
                                <td *ngIf="proy.avanceestado=='Concluido' " style="color: #4BD396;">{{ proy.avancedesc }}</td>
                                <td *ngIf="proy.avanceestado=='Cancelado' " style="color: #F5707A;">{{ proy.avancedesc }}</td>
                                <td>{{ proy.avancefecha }}</td>
                                <td>
                                    <span class="action-icons">
                                        <button (click)="EditarAvance(proy)" class="btn btn-info btn-sm icon-buttons" ngbTooltip="Editar Proyecto">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>