<div class="row">

    <div class="col-md-12">
        <div class="card .bg-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-4 pull-right">
                        <h4 class="card-title">Listado de Proyectos</h4>
                    </div>
                    <div class="col-4">
                        <input [(ngModel)]="query" type="text" class="form-control" placeholder="Buscar">
                    </div>
                    <div class="col-4 pull-left">
                        <button [routerLink]="['/nuevopgen']" class="btn btn-info pull-right" name="new" ngbTooltip="Agregar Avance">
                            <i class="fa fa-plus"></i>Nuevo
                        </button>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 15px;">
                </div>
                <div class="row" style="height: 500px; overflow: auto; display: block;">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th class=" tbl-header pointer tbl-header" style="position: sticky;top: 0;" (click)="sort('Titulo')">
                                    Desarrollo
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'Titulo', 'fa-sort-asc': (column == 'Titulo' && isDesc), 'fa-sort-desc': (column == 'Titulo' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th class="tbl-header2" style="position: sticky;top: 0;">Descripcion</th>
                                <th class=" tbl-header3 pointer" style="position: sticky;top: 0;" (click)="sort('AsignadoA.nombre')">
                                    Asignado A
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'AsignadoA.nombre', 'fa-sort-asc': (column == 'AsignadoA.nombre' && isDesc), 'fa-sort-desc': (column == 'AsignadoA.nombre' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th class=" tbl-header4 pointer" style="position: sticky;top: 0;" (click)="sort('Solicitor.nombre')">
                                    Solicitante
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'Solicitor.nombre', 'fa-sort-asc': (column == 'Solicitor.nombre' && isDesc), 'fa-sort-desc': (column == 'Solicitor.nombre' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th class="tbl-header5" style="position: sticky;top: 0;">En uso</th>
                                <th class="tbl-header6" style="position: sticky;top: 0;"> Est</th>
                                <th class="tbl-header6" style="position: sticky;top: 0;"> Tareas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let proy of proyes | orderby: {property: column, direction: direction} | filter: 'Titulo,AsignadoA.nombre,estatus,Solicitor.nombre': query">
                                <td>{{ proy.Titulo }}</td>
                                <td>{{ proy.Descripcion }}</td>
                                <td>{{ proy.AsignadoA.nombre }}</td>
                                <td>{{ proy.Solicitor.nombre }}</td>
                                <td *ngIf="proy.Estado == 'true'" style="color: #06D79C">En Uso</td>
                                <td *ngIf="proy.Estado == 'false'" style="color: #EF5350">Inactivo</td>
                                <td *ngIf="proy.Proceso == 1">
                                    <div class="led-box">
                                        <div class="led-green"></div>
                                    </div>
                                </td>
                                <td *ngIf="proy.Proceso == 2">
                                    <div class="led-box">
                                        <div class="led-orange"></div>
                                    </div>
                                </td>
                                <td *ngIf="proy.Proceso == 0">
                                    <div class="led-box">
                                        <div class="led-gray"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="action-icons">
                                        <a href="javascript:void(0)" [routerLink]="['/detallepro', proy.id ]"  style="color: #f7941d; padding-right: 5px" ngbTooltip="Tareas/Detalles"><i class="icon-avance"></i></a>
                                        <a href="javascript:void(0)" [routerLink]="['/editardes', proy.id ]"  style="color: #4f4de0; padding-right: 5px" ngbTooltip="Editar"><i class="fa fa-edit"></i></a>

                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>