<div class="row">
    <div class="col-md-12">
        <div class="card .bg-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-4 pull-right">
                        <h4 class="card-title">Listado de Proyectos</h4>
                    </div>
                    <div class="col-4">
                        <input [(ngModel)]="query" type="text" class="form-control" placeholder="Buscar">
                    </div>
                    <div class="col-4 pull-left">
                        <button [routerLink]="['/nuevopdes']" class="btn btn-info pull-right" name="new" ngbTooltip="Agregar Avance">
                            <i class="fa fa-plus"></i>Nuevo
                        </button>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 15px;">
                </div>
                <div class="row" style="height: 500px; overflow: auto; display: block;">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th class=" tbl-header pointer tbl-header" style="position: sticky;top: 0;" (click)="sort('Titulo')">
                                    Desarrollo
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'Titulo', 'fa-sort-asc': (column == 'Titulo' && isDesc), 'fa-sort-desc': (column == 'Titulo' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th class="tbl-header2" style="position: sticky;top: 0;">Descripcion</th>
                                <th class=" tbl-header3 pointer" style="position: sticky;top: 0;" (click)="sort('AsignadoA.nombre')">
                                    Asignado A
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'AsignadoA.nombre', 'fa-sort-asc': (column == 'AsignadoA.nombre' && isDesc), 'fa-sort-desc': (column == 'AsignadoA.nombre' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th class=" tbl-header4 pointer" style="position: sticky;top: 0;" (click)="sort('Solicitor.nombre')">
                                    Solicitante
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'Solicitor.nombre', 'fa-sort-asc': (column == 'Solicitor.nombre' && isDesc), 'fa-sort-desc': (column == 'Solicitor.nombre' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th class="tbl-header5" style="position: sticky;top: 0;">En uso</th>
                                <th class="tbl-header6" style="position: sticky;top: 0;"> IDE</th>
                                <th class="tbl-header6" style="position: sticky;top: 0;"> Ver</th>
                                <th class="tbl-header6" style="position: sticky;top: 0;"> Est</th>
                                <th class="tbl-header6" style="position: sticky;top: 0;"> Tareas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let proy of proyes | orderby: {property: column, direction: direction} | filter: 'Titulo,AsignadoA.nombre,estatus,Solicitor.nombre': query">
                                <td>{{ proy.Titulo }}</td>
                                <td>{{ proy.Descripcion }}</td>
                                <td>{{ proy.AsignadoA.nombre }}</td>
                                <td>{{ proy.Solicitor.nombre }}</td>

                                <td *ngIf="proy.Estado == 'true'" style="color: #06D79C">En Uso</td>
                                <td *ngIf="proy.Estado == 'false'" style="color: #EF5350">Inactivo</td>

                                <td>{{ proy.IDE }} </td>

                                <td><a data-toggle="modal" class="hipelink" style="cursor: pointer" data-target="#myModal" href="javascript:void(0);" (click)="cargaVersiones(proy)" ng-click="cargaVersiones(proy)">{{ proy.Version }} </a></td>

                                <td *ngIf="proy.Proceso == 1">
                                    <div class="led-box">
                                        <div class="led-green"></div>
                                    </div>
                                </td>
                                <td *ngIf="proy.Proceso == 2">
                                    <div class="led-box">
                                        <div class="led-orange"></div>
                                    </div>
                                </td>
                                <td *ngIf="proy.Proceso == 0">
                                    <div class="led-box">
                                        <div class="led-gray"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="action-icons">
                                        <a href="javascript:void(0)" [routerLink]="['/detallepro', proy.id ]"  style="color: #f7941d; padding-right: 5px" ngbTooltip="Tareas/Detalles"><i class="icon-avance"></i></a>
                                        <a href="javascript:void(0)" [routerLink]="['/editardes', proy.id ]"  style="color: #4f4de0; padding-right: 5px" ngbTooltip="Editar"><i class="fa fa-edit"></i></a>
                                    </span>
                                </td>
                            </tr>
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="card card-body">
                                            <div class="container">
                                                <span data-dismiss="modal" class="close">&times;</span>
                                                <div class="row">
                                                    <h1>Versiones</h1>
                                                </div>
                                                <div class="list-group" style=" height: 350px; overflow: auto; display: block; ">

                                                    <a *ngFor="let ver of versiones" class="list-group-item list-group-item-action flex-column align-items-start ">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <h5 class="mb-1">{{ ver.VersionDes }}</h5>
                                                            <small>{{ver.fecha | date: 'dd-MM-yyyy'}}</small>
                                                        </div>
                                                        <p class="mb-1">{{ver.DescripcionDes}}</p>
                                                        <!-- <small>More small text here.</small>-->
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>