<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Filtros de Busqueda</h4>
                <div id="filters"></div>
                <div class="row">

                    <div class="col-sm-1 nopadding">
                        <div class="form-group">
                            <input type="number" [(ngModel)]="filtros.Id" class="form-control" id="folio" name="folio" placeholder="#" />
                        </div>
                    </div>
                    <div class="col-sm-2 nopadding">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="filtros.Titulo" class="form-control" id="titulo" name="titulo" placeholder="Título" />
                        </div>
                    </div>
                    <div class="col-sm-2 nopadding">
                        <div class="form-group">
                            <ng-select [(ngModel)]="filtros.Solicitor" name="solicitante" [items]="users" bindLabel="nombre">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.nombre}} <small>{{item.noEmpleado}}</small>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-sm-2 nopadding">
                        <div class="form-group">
                            <ng-select [(ngModel)]="filtros.AsignadoA" name="responsable" [items]="admins" bindLabel="nombre">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.nombre}} <small>{{item.noEmpleado}}</small>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-sm-2 nopadding">
                        <div class="form-group">
                            <div class="input-group">
                                <select [(ngModel)]="filtros.TipoServicio.id" name="tipo" class="form-control" required>
                                        <option value="0">Todos los Tipos</option>
                                    <option *ngFor="let tipo of tipos" [ngValue]="tipo.id">{{ tipo.descripcion }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 nopadding">
                        <div class="form-group">
                            <button type="button" (click)="cargarTicketsAbiertos()" class="btn btn-info waves-effect waves-light m-t-10">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <div class="row">
                    <div class="col-10 btn-toolbar pull-left">
                        <div>
                            <h4 class="card-title"><span class="lstick"></span>Tickets Abiertos & en Proceso ({{ totalRegistros }}) </h4>
                        </div>
                    </div>
                    <div class="col-2" style="text-align: right">
                        <button type="button" (click)="quitarFiltros()" class="btn btn-info waves-effect waves-light m-t-10 pull-right">Quitar Filtros</button>
                    </div>
                </div>


                <div class="table-responsive m-t-20" style="position: relative; height: 500px; overflow: auto; display: block;">
                    <table class="table vm no-th-brd no-wrap pro-of-month">
                        <thead>
                            <tr>
                                <th class=" tbl-header pointer tbl-header" style="position: sticky;top: 0;" (click)="sort('Id')">
                                    #
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'Id', 'fa-sort-asc': (column == 'Id' && isDesc), 'fa-sort-desc': (column == 'Id' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th colspan="2" class=" tbl-header2 pointer tbl-header2" style="position: sticky;top: 0;" (click)="sort('nombre')">
                                    Solicitante
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'nombre', 'fa-sort-asc': (column == 'nombre' && isDesc), 'fa-sort-desc': (column == 'nombre' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th class=" tbl-header3 pointer tbl-header3" style="position: sticky;top: 0;" (click)="sort('Titulo')">
                                    Título
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'Titulo', 'fa-sort-asc': (column == 'Titulo' && isDesc), 'fa-sort-desc': (column == 'Titulo' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th class=" tbl-header4 pointer tbl-header4" style="position: sticky;top: 0;" (click)="sort('FecRegistro')">
                                    Fec. Creado
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'FecRegistro', 'fa-sort-asc': (column == 'FecRegistro' && isDesc), 'fa-sort-desc': (column == 'FecRegistro' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th class=" tbl-header5 pointer tbl-header5" style="position: sticky;top: 0;" (click)="sort('Estado')">
                                    Estatus
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'Estado', 'fa-sort-asc': (column == 'Estado' && isDesc), 'fa-sort-desc': (column == 'Estado' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th class=" tbl-header6 pointer tbl-header6" style="position: sticky;top: 0;" (click)="sort('descripcion')">
                                    Tipo
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'descripcion', 'fa-sort-asc': (column == 'descripcion' && isDesc), 'fa-sort-desc': (column == 'descripcion' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th class=" tbl-header6 pointer tbl-header6" style="position: sticky;top: 0;" (click)="sort('tiempoTotal')">
                                    Horas
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'tiempoTotal', 'fa-sort-asc': (column == 'tiempoTotal' && isDesc), 'fa-sort-desc': (column == 'tiempoTotal' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th class=" tbl-header6 pointer tbl-header6" style="position: sticky;top: 0;" (click)="sort('AsignadoA.nombre')">
                                    Responsable
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'AsignadoA.nombre', 'fa-sort-asc': (column == 'AsignadoA.nombre' && isDesc), 'fa-sort-desc': (column == 'AsignadoA.nombre' && !isDesc) }" aria-hidden="true"> </i>
                                </th>

                                <th class="tbl-header6" style="position: sticky;top: 0;">Editar</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tick of Tickets | orderby: {property: column, direction: direction}">
                                <ng-container *ngIf="tick.Estado != 'Cancelado'">
                                    <td style="width:20px;">{{ tick.Id }}</td>
                                    <td style="width:50px;"><span class="round"><img [src]="tick.Solicitor.id | imagen" alt="user" width="50" height="50px"></span></td>
                                    <td>
                                        <h6> {{ tick.Solicitor.nombre | titlecase | capitalizar }} </h6>
                                    </td>
                                    <td>
                                        <span [ngbTooltip]="tick.Titulo">
                                            {{ tick.Titulo | truncate: [25, ' ...'] }}
                                        </span>
                                    </td>
                                    <td> {{ tick.FecRegistro | date: 'yyyy-MM-dd' }} </td>
                                    <td><span class="label label-rounded" [ngClass]="( tick.Estado == 'Abierta' ) ? 'abiertalbl' :
                                        ( tick.Estado == 'Cerrada' ) ? 'procesolbl' : 'procesolbl'">{{ tick.Estado }}</span>
                                    </td>
                                    <td> {{ tick.TipoServicio.descripcion }} </td>
                                    <td> {{ tick.tiempoTotal | tiempo }} </td>
                                    <td> {{ tick.AsignadoA.nombre }} </td>
                                    <td>
                                        <span class="action-icons">
                                            <a href="javascript:void(0)" [routerLink]="['/avances', tick.Id ]" class="btn btn-info btn-sm text-white" title="Avances"><i class="icon icon-layers"></i></a>
                                            <a href="javascript:void(0)" [routerLink]="['/tickets', tick.Id, 'Cerrada' ]" class="btn btn-danger btn-sm text-white" title="Cerrar"><i class="icon icon-check"></i></a>
                                        </span>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>

                    <button *ngIf="showNavegacion" (click)="cambiarDesde(-1)" class="btn btn-secondary">Anteriores</button>
                    <button *ngIf="showNavegacion" (click)="cambiarDesde(1)" class="btn btn-secondary">Siguientes</button>
                </div>

            </div>
        </div>
    </div>
</div>