<div class="row animated fadeIn">

    <div class="col-md-12">
        <div class="card card-body">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardar(f)">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input [(ngModel)]="solicitante.nombre" (input)="enableButton()" name="nombre" type="text" class="form-control" placeholder="Nombre" required />
                        </div>

                        <div class="form-group">
                            <label>Correo </label>
                            <input [(ngModel)]="solicitante.correo" (input)="enableButton()" name="correo" type="email" class="form-control" placeholder="Correo Electronico" required />
                        </div>

                        <div class="form-group">
                            <label>Usuario</label>
                            <input [(ngModel)]="solicitante.usuario" (input)="enableButton()" name="usuario" type="text" class="form-control" placeholder="Nombre de Usuario" required />
                        </div>

                        <div class="form-group">
                            <label>Empresa</label>
                            <select [(ngModel)]="solicitante.empresa.id" (change)="enableButton()" name="empresa" class="form-control">
                                <option *ngFor="let empre of Empresas" [ngValue]="empre.id">{{ empre.nombre }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Area</label>
                            <select [(ngModel)]="solicitante.puesto" (change)="enableButton()" name="puesto" class="form-control">
                                <option *ngFor="let pues of Areas" [ngValue]="pues.descripcion">{{ pues.descripcion }}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Constraseña</label>
                            <input [(ngModel)]="solicitante.password" (input)="enableButton()" name="password" type="password" class="form-control" placeholder="Constraseña" />
                        </div>
                        <div class="form-group">
                            <label>Extension</label>
                            <input [(ngModel)]="solicitante.extension" (input)="enableButton()" name="extension" type="number" class="form-control" ng-required="false" placeholder="extension" />
                        </div>
                        <div class="form-group">
                            <label>No. Empleado</label>
                            <input [(ngModel)]="solicitante.noEmpleado" (input)="enableButton()" name="noEmpleado" type="number" class="form-control" placeholder="Número de Empleado" required />
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="checkbox checkbox-info pull-left p-t-0">
                                    <input [(ngModel)]="solicitante.actualizarPassword" (input)="enableButton()" name="actualizarPassword" id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue" />
                                    <label for="checkbox-signup"> Cambiar Contraseña </label>
                                </div>
                            </div>
                        </div>

                        <button id="botonG" disabled type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                          <i class="fa fa-save"></i>Guardar
                        </button>

                        <a routerLink="/solicitantes" class="btn btn-inverse waves-effect waves-light">Cancelar</a>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>