<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div>
                            <span>Empresa</span>
                        </div>
                        <div *ngIf="Empresas.length > 0" class="btn-group" role="group" aria-label="Basic example">
                            <button *ngFor="let empr of Empresas" type="button" (click)="seleccionEmpresa( empr.nombre )" [ngClass]="{ 'active': empresa===empr.nombre }" class="btn btn-secondary">{{ empr.nombre }}</button>
                        </div>
                    </div>
                    <div class="col-9">
                        <div>
                            <span>Busqueda...</span>
                        </div>
                        <input #input (keyup)="buscarSolicitante( input.value )" type="text" class="form-control" placeholder="Buscar solicitante por nombre...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br />
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br />
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title pull-left">Solicitantes registrados ( <small>{{ totalRegistros }}</small> )</h4>
                <div class="text-right">
                    <button [routerLink]="['/solicitante']" type="button" ngbTooltip="Agregar Solicitante" class="btn btn-circle btn-info icon-buttons">
                      <i class="fa fa-plus"></i>
                    </button>
                    <button [routerLink]="['/solicitante/nuevos']" type="button" ngbTooltip="Generar Solicitantes GLPI" class="btn btn-circle btn-info">
                      <i class="fa fa-users"></i>
                    </button>
                </div>
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Estatus</th>
                            <th>Empresa</th>
                            <th>Empresa Agenda</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let solicitante of solicitantes">
                            <td class="w70">
                                {{ solicitante.nombre | titlecase | capitalizar }} ({{ solicitante.noEmpleado }})
                            </td>
                            <td>
                                {{ solicitante.correo }}
                            </td>
                            <td>
                                <select [(ngModel)]="solicitante.estado" name="estado" class="form-control">
                                  <option *ngFor="let rol of estados.Estados" [ngValue]="rol.value">{{ rol.value }}</option>
                                </select>
                            </td>
                            <td>
                                <select [(ngModel)]="solicitante.empresa.id" name="empr" class="form-control">
                                    <option *ngFor="let empre of Empresas" [ngValue]="empre.id">{{ empre.nombre }}</option>
                                </select>
                            </td>
                            <td>
                                <select [(ngModel)]="solicitante.emprage" name="emprage" class="form-control">
                                    <option *ngFor="let empre of Empresas" [ngValue]="empre.id">{{ empre.nombre }}</option>
                                </select>
                            </td>
                            <td>
                                <span class="action-icons">
                                    <button (click)="modificarSolicitante( solicitante )" class="btn btn-info btn-sm icon-buttons" ngbTooltip="Guardar">
                                        <i class="fa fa-save"></i>
                                    </button>                                    
                                    <button [routerLink]="['/solicitante', solicitante.id ]" class="btn btn-info btn-sm icon-buttons" ngbTooltip="Editar Solicitante">
                                        <i class="fa fa-edit"></i>
                                    </button>                                    
                                    <button (click)="enviarClave( solicitante )" class="btn btn-info btn-sm" ngbTooltip="Enviar contraseña">
                                        <i class="fa fa-envelope"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button *ngIf="showNavegacion" (click)="cambiarDesde(-1)" class="btn btn-secondary">Anteriores</button>
                <button *ngIf="showNavegacion" (click)="cambiarDesde(1)" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div>