<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="align-self-center" [ngClass]="( usuario.rolId === 1 ) ? 'col-md-2' : 'col-md-9'">
        <h3 class="text-themecolor">{{ label }}</h3>
    </div>
    <div *ngIf="usuario.rolId === 1" class="col-md-7">
        <form #f="ngForm" ngNativeValidate (ngSubmit)="guardar(f)">
            <div class="row">
                <div class="col">
                    <input type="text" [(ngModel)]="ticket.Titulo" name="titulo" class="form-control" maxlength="50" placeholder="Título" required />
                </div>
                <div class="col">
                    <ng-select name="solicitante" [(ngModel)]="ticket.Solicitor" [items]="users" bindLabel="nombre" required>
                    </ng-select>
                </div>
                <div class="col">
                    <ng-select name="Duracion" [(ngModel)]="ticket.Duracion" [items]="duracion" bindLabel="Descripcion">
                    </ng-select>
                </div>
                <div class="col-auto">
                    <button type="submit" name="btnSave" style="background-color: #4bb750; border-radius: 60px; border-color: #4bb750;" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
            </li>
            <li class="breadcrumb-item">pages</li>
            <li class="breadcrumb-item active">{{ label }}</li>
        </ol>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->