<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-3">

                        <div>
                            <span>Empresa</span>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" (click)="seleccionEmpresa( 'EBR' )" [ngClass]="{ 'active': empresa==='EBR' }" class="btn btn-secondary">EBR</button>
                            <button type="button" (click)="seleccionEmpresa( 'IMA' )" [ngClass]="{ 'active': empresa==='IMA' }" class="btn btn-secondary">IMA</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br />
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br />
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div *ngIf="solicitantes" class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Listado de Mantenimientos</h4>
                <div class="row">
                    <div class="col-12">
                        <input [(ngModel)]="query" type="text" class="form-control" placeholder="Buscar">
                    </div>
                </div>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th>Area</th>
                            <th># Empleado</th>
                            <th>Correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let solicitante of solicitantes | filter: 'telefono,nombre,puesto': query">
                            <td>{{ solicitante.nombre }} </td>
                            <td>{{ solicitante.telefono }}</td>
                            <td>{{ solicitante.puesto }}</td>
                            <td>{{ solicitante.noEmpleado }}</td>
                            <td>{{ solicitante.correo }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>