<app-nuevo-servicio *ngIf="nuevo"></app-nuevo-servicio>

<div *ngIf="!nuevo" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div *ngIf="principal" class="row m-t-40">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <button (click)="nuevo = true" name="new" class="btn btn-info"> <i class="fa fa-plus"></i> Nuevo</button>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-warning text-center">
                                <h1 class="font-light text-white"> {{ principal.abiertos }} </h1>
                                <h6 class="text-white">Abiertas</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-info text-center">
                                <h1 class="font-light text-white"> {{ principal.proceso }} </h1>
                                <h6 class="text-white">En Proceso</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-success text-center">
                                <h1 class="font-light text-white"> {{ principal.cerrados }} </h1>
                                <h6 class="text-white">Resueltos</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="!nuevo">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick"></span>Mis Solicitudes</h4>

                <div class="table-responsive animated fadeIn" *ngIf="!cargando">
                    <table class="table vm no-th-brd no-wrap pro-of-month table-sm table-hover">
                        <thead>
                            <tr>
                                <th class="pointer" (click)="sort('Id')">
                                    # Folio
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'Id', 'fa-sort-asc': (column == 'Id' && isDesc), 'fa-sort-desc': (column == 'Id' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th class="pointer" (click)="sort('Titulo')">
                                    Titulo
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'Titulo', 'fa-sort-asc': (column == 'Titulo' && isDesc), 'fa-sort-desc': (column == 'Titulo' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th class="pointer" (click)="sort('TiempoTranscurrido')">
                                    Tiempo
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'TiempoTranscurrido', 'fa-sort-asc': (column == 'TiempoTranscurrido' && isDesc), 'fa-sort-desc': (column == 'TiempoTranscurrido' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th class="pointer" (click)="sort('Estado')">
                                    Estatus
                                    <i class="fa" [ngClass]="{'fa-sort': column != 'Estado', 'fa-sort-asc': (column == 'Estado' && isDesc), 'fa-sort-desc': (column == 'Estado' && !isDesc) }" aria-hidden="true"> </i>
                                </th>
                                <th>Asignado a<span class="footable-sort-indicator"></span></th>
                                <th>Action<span class="footable-sort-indicator"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let serv of servicios | orderby: {property: column, direction: direction}">
                                <td>{{ serv.Id }}</td>
                                <td>{{ serv.Titulo }}</td>
                                <td>{{ serv.TiempoTranscurrido }}</td>
                                <td>
                                    <span class="label" [ngClass]="( serv.Estado == 'Abierta' ) ? 'label-warning' :
                                                ( serv.Estado == 'Cerrada' ) ? 'label-success' : 'label-info'">{{ serv.Estado }}</span>
                                </td>
                                <td style="width:50px;">
                                    <span *ngIf="!serv.AsignadoA">Sin Asignacion</span>
                                    <span *ngIf="serv.AsignadoA">{{ serv.AsignadoA?.nombre }}</span>
                                </td>
                                <td>
                                    <span class="action-icons">
                                        <a href="javascript:void(0)" [routerLink]="['/servicio', serv.Id ]" class="btn btn-primary btn-sm text-white espacito" title="Detalles"><i class="fa fa-bars"></i> Detalles</a>
                                        <!-- <a href="javascript:void(0)" [routerLink]="['/servicio', serv.Id ]" class="btn btn-primary btn-sm text-white" title="Detalles"><i class="fa fa-close"></i> Cerrar</a> -->
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <button *ngIf="(totalRegistros >= 15)" (click)="cambiarDesde(-1)" class="btn btn-secondary">Anteriores</button>
                <button *ngIf="(totalRegistros >= 15)" (click)="cambiarDesde(1)" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div>

<app-rating></app-rating>