<app-nuevo-servicio *ngIf="nuevo"></app-nuevo-servicio>

<div class="row" *ngIf="!nuevo">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row m-t-40">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">

                        <button (click)="nuevo = true" name="new" class="btn btn-info"> <i class="fa fa-plus"></i> Nuevo</button>
                        <!-- <div class="card">
                            <div class="box bg-info text-center">
                                <h1 class="font-light text-white">2,064</h1>
                                <h6 class="text-white">Total Tickets</h6>
                            </div>
                        </div> -->
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-warning text-center">
                                <h1 class="font-light text-white"> {{ totalAbiertos() }} </h1>
                                <h6 class="text-white">Abiertas</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-info text-center">
                                <h1 class="font-light text-white"> {{ totalProceso() }} </h1>
                                <h6 class="text-white">En Proceso</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-success text-center">
                                <h1 class="font-light text-white">0</h1>
                                <h6 class="text-white">Resueltos</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>

                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list footable-loaded footable" data-page-size="10">
                        <thead>
                            <tr>
                                <th class="footable-sortable"># Folio<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable">Titulo<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable">Tiempo<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable">Estatus<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable">Asignado a<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable">Action<span class="footable-sort-indicator"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let serv of servicios">
                                <td>{{ serv.Id }}</td>
                                <td>{{ serv.Titulo }}</td>
                                <td>{{ serv.TiempoTranscurrido }}</td>
                                <td>
                                    <span class="label" [ngClass]="( serv.Estatus == 'Abierta' ) ? 'label-warning' :
                                    ( serv.Estatus == 'Cerrada' ) ? 'label-success' : 'label-info'">{{ serv.Estatus }}</span>
                                </td>
                                <!-- <td>{{ serv.FecRegistro | date }}</td> -->
                                <td style="width:50px;">
                                    <span *ngIf="!serv.AsignadoA">Sin Asignacion</span>
                                    <span *ngIf="serv.AsignadoA">{{ serv.AsignadoA?.nombre }}</span>
                                </td>
                                <td>
                                    <span class="action-icons">
                                        <a href="javascript:void(0)" [routerLink]="['/servicio', serv.Id ]" class="btn btn-primary btn-sm text-white" title="Detalles"><i class="fa fa-bars"></i> Detalles</a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>