<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">¿Como califica el servicio?</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div *ngIf="evaluaciones" class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title m-t-10">{{ evaluaciones[0].Titulo }}</h4>
                        <img [src]="evaluaciones[0].AsignadoA.id | imagen" alt="Atendido por" style="margin-bottom: 10px;" class="img-circle" width="100" height="100" />
                        <br />
                        <small>Atendió: {{ evaluaciones[0].AsignadoA.nombre }}</small>
                        <br />
                        <ngb-rating [(rate)]="currentRate">
                            <ng-template let-fill="fill" let-index="index">
                                <span class="star" [style.width.%]="fill" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
                            </ng-template>
                        </ngb-rating>
                        <br />
                        <button name="save" (click)="save(evaluaciones[0])" class="btn btn-primary">Calificar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>