<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">¿Como califica el servicio?</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div *ngIf="evaluaciones" class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <li class="media" *ngFor="let rati of ratings">
                            <div class="rating-imagen">
                                <img class="d-flex mr-3 img-circle" [src]="rati.servicio.AsignadoA.id | imagen" alt="Atendido por" width="80" height="80">
                            </div>
                            <div class="media-body text-center">
                                <div class="rating-titulo">
                                    <h5 class="card-title m-t-10"><b>{{ rati.servicio.Titulo }}</b></h5>
                                </div>
                                <div class="rating-responsable">
                                    <small>Atendió: {{ rati.servicio.AsignadoA.nombre }}</small>
                                </div>
                                <ngb-rating [(rate)]="rati.rating">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [style.width.%]="fill" [class.filled]="fill === 100">&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                                <hr />
                            </div>
                        </li>
                        <div class="text-center">
                            <button name="save" (click)="save()" class="btn btn-primary">Calificar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>