<div class="card">
    <div class="card-body">
        <h4 class="card-title" style="margin-bottom: 0rem;">Filtros</h4>
        <div class="col-12">
            <div class="row">
                <div *ngIf="users" class="col-2">
                    <label for="range" style="font-size: 14px;font-weight: bold;"> Seleccione Usuario </label>

                    <select [(ngModel)]="param.responsable.id" name="tipo" class="form-control" required>
                        <option *ngFor="let tipo of users" [ngValue]="tipo.id">{{ tipo.nombre }}</option>
                    </select>
                </div>
                <div class="col-2">
                    <label for="fehcas" style="font-size: 14px;font-weight: bold;"> Seleccione Fecha </label>
                    <select [(ngModel)]="param.rango" name="fehcas" (change)="EditarP($event.target.value)" id="fehcas" class="form-control">
 
                        <option *ngFor="let rang of rangos" [value]="rang.value">{{ rang.displayName.toUpperCase() }}</option>
                        <option  value="OTRA">OTRA</option>

                    </select>
                </div>
                <div class="col-4" id="calendario" style="display:none;">
                    <div class="card">
                        <div class="card-body">

                            <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t">
                            </ngb-datepicker>
                            <ng-template #t let-date="date" let-focused="focused">
                                <span class="custom-day" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                          {{ date.day }}
                                      </span>
                            </ng-template>

                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <label for="empr" style="font-size: 14px;font-weight: bold;"> Unidad(Empresa) </label>
                    <select [(ngModel)]="param.empresa" name="empr" id="empr" class="form-control">
                        <option value='Todos'>TODOS</option>
                        <option *ngFor="let empr of empresas" [value]="empr.nombre">{{ empr.nombre }}</option>
                    </select>
                </div>
                <div class="col-2">
                    <button name="generar" class="btn btn-primary" (click)="generar()">Generar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="ratings" class="card">
    <div class="card-body">
        <div class="col-12">

            <h2 class="text-center" *ngIf="ratings.length === 0"> No se encontraron resultados </h2>
            <h2 *ngIf="ratings.length > 0">Promedio: ({{ ratings.length }}) <b>{{ promedio() | number: '1.2-2' }} </b> </h2>
            <table *ngIf="ratings.length > 0" class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Solicitante</th>
                        <th>Ticket</th>
                        <th>Responsable</th>
                        <th>Fecha</th>
                        <th>Evaluación</th>
                        <th>Comentario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rat of ratings">
                        <td>{{ rat.servicio.Solicitor.nombre }}</td>
                        <td>{{ rat.servicio.Id }} : {{ rat.servicio.Titulo }}</td>
                        <td>{{ rat.servicio.AsignadoA.nombre }}</td>
                        <td>{{ rat.fecha | fecha }}</td>
                        <td>
                            <ngb-rating readonly="false" [(rate)]="rat.rating">
                                <ng-template let-fill="fill" let-index="index">
                                    <span class="star" [style.width.%]="fill" [class.filled]="fill === 100"> <i class="fa fa-star"></i> </span>
                                </ng-template>
                            </ngb-rating>
                        </td>
                        <td>{{ rat.comentario }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>